@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,body{
  display: flex;
flex-wrap: wrap;
  width:100%;
  height:100%;
  color:black;
  background-color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card{
 display: flex;
 flex-direction:column;
 /* justify-content: center;
 align-items: center; */
  height: 500px;
  width: 380px;
  background-color: white;
  padding: 20px;
  margin:20px;
  border-radius: 20px;
  flex-wrap: wrap;
}
.image{
  display: flex;
  justify-content: center;
  align-items: center;
}
.image img{
  height: 150px;
  width:150px;
  border-radius: 50%;
  object-fit:cover;
  
}

.top{
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}
.free{
  background-color: green;
  color: white;
  border-radius: 10px;
  padding: 6px;
}
.top h4{
margin-bottom: 10px;
}
.middle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.middle span{
  margin-top: 5px;
  font-size: 13px;
  color: gray;;
}
.user{
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.inner-middle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.inner-middle p{
  border:1px solid grey;
  padding: 5px 20px;
  border-radius: 20px;
  font-size: 13px;
  
}
.add{
  background-color: rgb(60, 193, 242);
  padding: 5px 15px;
  border-radius: 20px;
}
.info{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.bottom button {
  margin-top: 10px;
  background-color: black;
  color: white;
  padding: 10px 40px;
  border-radius: 20px;
  font-size: 20px;
  box-sizing: border-box;
  cursor: pointer;
}
.bottom button:hover{
   background-color: transparent;
   color: black;
    border-radius: 20px;

} 